@import "../../variables";

.contact-banner2 {
  position: relative;
  padding: 0 0px;
  @media screen and (max-width: 820px) {
    padding: 3px 5px;
  }
  img {
    height: 700px;
    object-fit: cover;
    @media screen and (max-width: 820px) {
      height: 400px;
    }
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 34%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
    @media screen and (max-width: 820px) {
      font-size: 18px;
    }
  }
}
h3 {
  font-family: figtreeB;
}
.general-information {
  background: $appcolor;
  color: #fff;
  padding: 20px;
  margin-left: 30px;
  height: 350px;
  margin-top: 100px;
  font-family: figtree;
  @media screen and (max-width: 820px) {
    margin-left: 0px;
    margin-top: 10px;
  }
  ul li {
    margin-top: 20px;

    .icons {
      font-size: 23px !important;

      margin-right: 15px;
    }
  }
  a {
    color: #fff;
    &:hover {
      color: $app-color-hover;
    }
  }
  ol li {
    margin-top: 0px;
    list-style: none;
  }
  ol {
    margin-top: -30px;
  }
}
.contact-form {
  margin-top: 60px;
  h4 {
    font-family: figtreeB;
  }
  form {
    border: solid 1px #e7e7e7;
    padding: 20px;
    margin-right: 10px;
  }
  h6 {
    margin-top: 20px;
    margin-bottom: 0;
    color: $appcolor;
    font-family: figtreeB;
  }
  input,
  textarea {
    width: 100%;
    padding: 6px 20px;
    border: solid 1px #d3d1d1;
    border-radius: 7px;
  }
  textarea {
    min-height: 250px;
  }
}
