@import "../../../variables";

.staff-banner {
  position: relative;
  padding: 0 0px;
  @media screen and (max-width: 820px) {
    padding: 0 10px;
  }
  img {
    height: 700px;
    object-fit: cover;
    @media screen and (max-width: 820px) {
      height: 400px;
    }
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 32%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
    @media screen and (max-width: 820px) {
      font-size: 25px;
      left: 22%;
    }
  }
}
.staff-profile {
  margin-top: 100px;
  margin-bottom: 100px;
  .each-profile {
    border: solid 1px #e7e7e7;
    padding: 10px;
    border-radius: 10px;
    height: 420px;
    margin-top:40px;
    @media screen and (max-width: 820px) {
      height: 520px;
    }
    h6 {
      padding: 10px;
      font-family: figtreeB;
      color: $appcolor;
    }
    img {
      border-radius: 10px;
      height: 250px;
      object-fit: cover;
    }
  }
}
.profile-content {
  img {
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
  }
}
.staff-socials {
  li {
    font-size: 14px;
    margin: 25px 18px;
    @media screen and (max-width: 820px) {
      margin: 80px 10px 0 10px;
    }
    a {
      color: $app-color-hover;
      &:hover {
        color: grey;
      }
    }
  }
}
