@import "../../../variables";

.staff-banner {
  position: relative;
  padding: 0 60px;
  img {
    height: 700px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 32%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
  }
}
.staff-profile {
  margin-top: 100px;
  margin-bottom: 100px;
  .each-profile {
    border: solid 1px #e7e7e7;
    padding: 10px;
    border-radius: 10px;
    height: 420px;
    h6 {
      padding: 10px;
      font-family: figtreeB;
      color: $appcolor;
    }
    img {
      border-radius: 10px;
      height: 250px;
      object-fit: cover;
    }
  }
}
