@import "../../variables";

.page-menu {
  background: #fff;
  padding: 3px 40px;
  box-shadow: rgba(0, 73, 146, 0.09) 0px 4px 32px 0px;
  border-radius: 5px;
  // margin-top: -50px;
  position: sticky !important;
  top: 0;
  z-index: 5;

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display menu items inline using flexbox */
    flex-direction: row; /* Align items in a row */
    justify-content: flex-start; /* Align items to the left */
  }
  a {
    font-size: 18px;
    font-family: figtreeB;
    color: #536378;

    &:hover {
      color: #fff;
    }
  }
  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $app-color-secondary;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .menu-item {
    padding: 12px 20px; /* Adjust padding for inline layout */

    transition: background 0.3s ease-in-out;
    &:hover {
      background-color: $appcolor !important;
      color: #fff !important;
      a {
        color: #fff;
      }
    }
  }

  .menu-link {
    text-decoration: none;

    font-weight: bold;
  }

  .menu-item:hover {
  }
  @media screen and (max-width: 820px) {
    display: none;
  }
}
.home-icon {
  font-size: 30px !important;
  &:hover {
    color: $appcolor !important;
  }
}
