.footer-div {
  height: 1000px;
  background: #00285e;
  //   z-index: -1 !important;
  //   position: fixed;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 100px;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
  p {
    font-family: figtreeB;
    margin-top: 20px;
  }
  .socials {
    li {
      font-size: 20px;
      border: solid 1px #fff;
      height: 35px;
      width: 35px;
      border-radius: 100%;
    }
  }
  .social-icon {
    margin-top: -10px;
  }
  .others {
    font-size: 14px;
  }
  small {
    font-size: 10px;
  }
}
