@import "../../../variables";

.story-banner {
  position: relative;
  padding: 0 60px;
  img {
    height: 700px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 44%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
  }
}
.welcome-div {
  .speech {
    margin-top: 100px;
    p {
      text-align: justify;
      font-size: 15px;
      line-height: 20px;
      font-family: figtreeI;
    }
    .message {
      background-color: #fff;
      box-shadow: rgba(0, 73, 146, 0.09) 0px 4px 32px 0px;
      height: 500px;
      overflow: hidden scroll;
      margin-top: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .message-heading {
      background: rgb(255, 255, 255);
      height: fit-content;
      position: sticky;
      top: 0;
      left: 0;
    }
  }
  .content {
    margin-top: 50px; /* Ensure content doesn't overlap the header */
    padding: 20px;
  }
  img {
    border-radius: 10px;
  }
  h2 {
    color: #00285e;
    font-family: garamondB;
    font-size: 36px;
    span {
      color: $highlight;
      font-size: 50px;
      font-family: garamondI;
    }
  }
  .first-para {
    color: #4d5e69;
    font-size: 22px;
    line-height: 35px;
    font-family: figtree;
    margin-bottom: 60px;
  }

  .remarkable {
    height: 800px;
    background: url("../../../assets/images/abt-bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;

    padding-top: 200px;
    background-position: center;
    p {
      color: #fff;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: normal;
      font-family: garamondB;
    }
    button {
      background: transparent;
      border: solid 2px #fff;
      color: #fff;
      padding: 10px 50px;
      border-radius: 5px;
      &:hover {
        border: solid 2px #b5d2ee;
        background: #b5d2ee;
        color: #00285e;
        transition: 0.5s ease;
      }
    }
    .remarkable-logo {
      margin-bottom: 30px;
      hr {
        border: solid 1px #fff;
        opacity: 1;
        border-color: #fff !important;
      }
      .quote {
        color: #fff;
        font-size: 30px;
      }
    }
  }
}

.message::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.message::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.message::-webkit-scrollbar-thumb {
  background: $appcolor !important;
  border-radius: 10px;
}

/* Handle on hover */
.message::-webkit-scrollbar-thumb:hover {
  background: $appcolor-hover;
}
