@import "../../variables";

.contact-banner {
  position: relative;
  padding: 0 60px;
  img {
    height: 700px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 34%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
  }
}

.admission-tab {
  .steps-div {
    // height: 300px;
    background: #f2f4f6;
    padding: 30px;
    margin-bottom: 40px;
    p {
      margin-bottom: 0px;
      line-height: 33px;
    }
  }
  .tabs {
    display: flex;
    width: 100%;
    padding: 8px 3px;

    @media screen and (max-width: 620px) {
      //   width: 40%;

      //   margin-left: 0%;
    }
  }
  @media screen and (max-width: 620px) {
    .tabs {
      button {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: 620px) {
    .tabs2 {
    }
  }

  .tab {
    // width: 100%;
    background: transparent;
    margin: 10px 4px;

    border: none;
    color: grey;
    // border-radius: 35px !important;
    font-size: 14px;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  button.active2 {
    font-weight: bold;

    color: $appcolor;
    border-radius: 35px;
    // border-bottom: solid 3px #0098da;
    span {
      color: green;
    }
  }
  button.active3 {
    font-weight: bold;
    border-bottom: solid 3px #0098da;
    color: #000;
  }
  .panel {
    display: none;
    color: #161617;
    font-family: rebondG;
    line-height: 40px;
    padding-top: 65px;
    background: #fff;
  }

  @media screen and (max-width: 620px) {
    .panel {
      padding: 0px;
    }
  }
  .panel.active2 {
    display: block;
  }

  .outer {
    height: 170px;
    background: transparent;
    // display: none;
    // margin-left: -40px;
    padding-top: 20px;
    margin-left: 50px;
    &:hover {
      background: $appcolor;
      transition: 0.5s ease;
    }
  }
  .inner {
    height: 160px;

    margin-left: -30px;
  }
}
