@font-face {
  font-family: garamond;
  src: url(./assets/fonts/garamond/garamond.ttf);
}
@font-face {
  font-family: figtreeI;
  src: url(./assets/fonts/figtree/Figtree-Italic.ttf);
}
@font-face {
  font-family: figtree;
  src: url(./assets/fonts/figtree/Figtree-Italic.ttf);
}
