.story-banner {
  position: relative;
  img {
    height: 700px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 90%;
    left: 44%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
  }
}
.story-div {
  padding: 0 40px;
  img {
    border-radius: 10px;
  }
}
