.culture-container {
  text-align: center;
  padding: 50px 0;

  .heading1 {
    color: #fff;
    font-size: 40px;
    font-family: figtreeB;
  }

  .heading2 {
    color: #2d79c5;
    font-size: 55px;
    font-family: garamondI;
  }

  p {
    color: #fff;
  }
}

.testimonial-videos {
  height: 400px;
  background: #000;
  margin-top: 50px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.video {
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 24px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.video-wrapper:hover .play-button {
  opacity: 1;
}
