@import "../../variables";

.contact-banner {
  position: relative;
  padding: 0 60px;
  img {
    height: 700px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 34%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
  }
}
.general-information {
  background: $appcolor;
  color: #fff;
  padding: 20px;
  margin-left: 30px;
  height: 350px;
  margin-top: 100px;
  font-family: figtree;
  ul li {
    margin-top: 20px;

    .icons {
      font-size: 23px !important;

      margin-right: 15px;
    }
  }
  a {
    color: #fff;
    &:hover {
      color: $app-color-hover;
    }
  }
  ol li {
    margin-top: 0px;
    list-style: none;
  }
  ol {
    margin-top: -30px;
  }
}
.contact-form {
  input,
  textarea {
    width: 95%;
  }
}
