.mission-banner {
  position: relative;
  padding: 0 60px;
  img {
    height: 700px;
    object-fit: cover;
  }
  .overlayed {
    position: absolute;
    top: 80%;
    left: 30%;
    color: #fff;

    font-family: garamondB;
  }
  .text {
    h1 {
      font-size: 72px;
      text-align: center;
    }
  }
}
.story-div {
  img {
    border-radius: 10px;
  }
  h2 {
    color: #00285e;
    font-family: garamondB;
    font-size: 36px;
  }
  .mission-statement {
    color: #4d5e69;
    font-size: 18px;
    line-height: 35px;
    font-family: figtree;
    margin-bottom: 60px;
  }
  p {
    color: #4d5e69;
    font-size: 18px;
    line-height: 23px;
    font-family: figtree;
    margin-bottom: 60px;
  }
  .remarkable {
    height: 800px;
    background: url("../../../assets/images/abt-bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;

    padding-top: 200px;
    background-position: center;
    p {
      color: #fff;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: normal;
      font-family: garamondB;
    }
    button {
      background: transparent;
      border: solid 2px #fff;
      color: #fff;
      padding: 10px 50px;
      border-radius: 5px;
      &:hover {
        border: solid 2px #b5d2ee;
        background: #b5d2ee;
        color: #00285e;
        transition: 0.5s ease;
      }
    }
    .remarkable-logo {
      margin-bottom: 30px;
      hr {
        border: solid 1px #fff;
        opacity: 1;
        border-color: #fff !important;
      }
      .quote {
        color: #fff;
        font-size: 30px;
      }
    }
  }
  .mission-values {
    margin-top: 100px;
  }
  .my-quote {
    height: 100px;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 50px;
    box-shadow: 3px 4px 19px 4px rgba(77, 94, 105, 0.75);
    -webkit-box-shadow: 3px 4px 19px 4px rgba(77, 94, 105, 0.75);
    -moz-box-shadow: 3px 4px 19px 4px rgba(77, 94, 105, 0.75);
    p {
      color: #00285e;
      font-family: figtreeB;
    }
  }
}
.mission-div {
  padding-top: 30px;
  // padding-bottom: 30px;
  padding-right: 20px;
  margin-top: 30px;
  //  m-right: 50px;
  h1 {
    font-family: garamondB;
    color: #00285e;
    span {
      border-bottom: solid 3px #2d79c5;
    }
  }
  p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
  }
}

.val-acc {
  height: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: solid 1px red;
  box-shadow: -1px -1px 14px 8px rgba(238, 238, 238, 0.65);
  -webkit-box-shadow: -1px -1px 14px 8px rgba(238, 238, 238, 0.65);
  -moz-box-shadow: -1px -1px 14px 8px rgba(238, 238, 238, 0.65);
  // Font Variables
  $pathway: "Pathway Gothic One";
  $primary-font: "PT Sans", helvetica, arial, sans-serif;
  $secondary-font: "PT Serif", georgia, "times new roman";

  // Color Variables
  $black: #000;
  $white: #fff;

  // Transition
  @mixin transition($properties...) {
    transition: $properties 0.3s ease-out;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }

  .accordion {
    &:hover {
      .instructions {
        display: none;
      }
      div {
        width: 10%;
        @include transition(width);
      }
    }
    .instructions {
      background: $black;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1000;
      height: 94px;
      width: 94px;
      border: 2px solid $white;
      border-radius: 47px;
      text-align: center;
      font-family: $pathway;
      color: $white;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin: -47px 0 0 -47px;
      padding: 22px 0 0;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    div {
      width: 25%;
      height: 400px;
      padding: 45px 40px;
      position: relative;
      overflow: hidden;
      @include transition(width);
      float: left;

      @media screen and (max-width: 800px) {
        width: 100% !important;
        height: 100%;
        padding: 30px;
      }

      &:nth-of-type(1) {
        z-index: 200;
        &:hover {
          width: 70%;
        }
      }
      &:nth-of-type(2) {
        z-index: 300;
        &:hover {
          width: 70%;
        }
      }
      &:nth-of-type(3) {
        z-index: 400;
        &:hover {
          width: 70%;
        }
      }
      &:nth-of-type(4) {
        z-index: 500;
        &:hover {
          width: 70%;
        }
      }
      &:nth-of-type(odd) {
        background: $black;
        color: $white;
        h3 {
          color: $white;
        }
      }

      h3 {
        font-family: $secondary-font;
        text-transform: none;
        font-size: 2.625rem;
        font-weight: 400;
        letter-spacing: -1px;
        text-align: left;
        margin: 0 0 55px;

        @media screen and (max-width: 800px) {
          margin: 0 0 30px;
        }
        &:after {
          display: none;
        }
      }

      p {
        font-family: $primary-font;
        @media screen and (max-width: 800px) {
          margin: 0 0 30px;
        }
        @media screen and (max-width: 480px) {
          padding: 0 30px 0 0;
        }
      }
    }
  }
}
