.home-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  padding-top: 70px;
  img {
    border-radius: 10px;
  }
  h1 {
    font-family: figtree;
    font-size: 76px;
    color: #002b5e;
    span {
      color: #2d79c5;
      font-family: garamondBI;
    }
  }
  .left-wing {
    margin-left: -160px;
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  .images-container {
    // display: flex;
    transition: transform 0.3s ease;
  }

  .video {
    border-radius: 10px;
    min-width: 100% !important;
  }
}
