.home-div {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  .images-container {
    transition: opacity 0.5s ease;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video {
    border-radius: 10px;
  }
}
