@import "../../../variables";

.story-banner {
  position: relative;
  padding: 0 60px;
  img {
    height: 700px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 35%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
  }
}
.history-div {
  img {
    border-radius: 10px;
  }
  h2 {
    color: #00285e;
    font-family: garamondB;
    font-size: 36px;
  }
  .first-para {
    color: #4d5e69;
    font-size: 22px;
    line-height: 35px;
    font-family: figtree;
    margin-bottom: 60px;
  }
  p {
    color: #4d5e69;
    font-size: 15px;
    line-height: 23px;
    font-family: figtree;
  }
  .remarkable {
    height: 800px;
    background: url("../../../assets/images/abt-bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;

    padding-top: 200px;
    background-position: center;
    p {
      color: #fff;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: normal;
      font-family: garamondB;
    }
    button {
      background: transparent;
      border: solid 2px #fff;
      color: #fff;
      padding: 10px 50px;
      border-radius: 5px;
      &:hover {
        border: solid 2px #b5d2ee;
        background: #b5d2ee;
        color: #00285e;
        transition: 0.5s ease;
      }
    }
    .remarkable-logo {
      margin-bottom: 30px;
      hr {
        border: solid 1px #fff;
        opacity: 1;
        border-color: #fff !important;
      }
      .quote {
        color: #fff;
        font-size: 30px;
      }
    }
  }
  .history-details {
    box-shadow: rgba(0, 73, 146, 0.09) 0px 4px 32px 0px;
    background: #fff;
    border-radius: 10px;
  }
  .history-img {
    height: 450px;
    background: url("../../../assets/images/old-img2.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .history-img2 {
    height: 450px;
    background: url("../../../assets/images/storyHero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
