@import "../../variables";

.top-nav {
  padding: 0px 40px;
  box-shadow: rgba(0, 73, 146, 0.09) 0px 4px 32px 0px;
  // position: fixed;
  z-index: 110;
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10000;
  width: 100%;
  background: $appcolor;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper {
  clip-path: circle(75%);
}
.menu-btn {
  position: fixed;
  z-index: 100001;
  right: 40px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #002b5e;
  cursor: pointer;
  border: none;
  background: #fff;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #b5d2ee;
  }
}
#active:checked ~ .menu-btn {
  color: #5e001b;
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: right;
}
.wrapper ul li {
  margin: 15px 0;
  position: relative;
}
.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  font-family: garamondB;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.other-links {
  text-align: left !important;
  h6 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 12px;
    opacity: 0.6;
  }
  a {
    color: #fff;
    // padding-bottom: 10px;
    text-decoration: none;
    // margin-top: 20px;
    font-family: figtreeB;
  }
  span {
    margin-right: 12px;
    color: #fff;
    opacity: 0.5;
  }
  .other-links-item {
    border-bottom: solid 1px rgb(176, 175, 175);
    padding-bottom: 10px;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.menu-item {
  position: relative;

  &:hover {
    background: $app-color-secondary;
  }
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%; /* Moves submenu to the left of the menu item */
  padding-left: 0 !important;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(50px); /* Initially shifted left (off-screen) */
  transition: opacity 1s ease-out, transform 1s ease-out !important;
  pointer-events: none;
  margin-left: 180px !important;
  text-align: left !important;
  width: 200px !important;
  a {
    font-size: 18px !important;
  }
}

.submenu.show {
  opacity: 1;
  transform: translateX(0); /* Slides in from the left */
  pointer-events: auto;
}

.submenu-item {
  transition: background 2s !important;
  &:hover {
    background: $app-color-secondary;
    color: #fff !important;
  }
}
.app-logo {
  position: fixed;
  top: 0;
  z-index: 1110;
}
