@import "../../variables";

.home-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-top: 0px;
  .img-adj {
    height: 356px;
    object-fit: cover;
  }
  @media screen and (max-width: 820px) {
    padding-top: 160px;
    height: 50%;
  }
  img {
    border-radius: 10px;
  }
  h1 {
    font-family: figtreeB;
    font-size: 70px;
    color: $appcolor;
    margin-top: 50px;
    span {
      color: #2d79c5;
      font-family: garamondI !important;
    }
  }
  .left-wing {
    background-size: contain;
    height: 400px;
    margin-left: -60px;
  }
  .landing-imgs {
    img {
      @media screen and (max-width: 820px) {
        height: 100px;
        object-fit: cover;
      }
    }
  }
  .right-wing {
    margin-right: -60px;
  }
  .video-container {
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-top: 10px !important;
    @media screen and (max-width: 820px) {
      // height: 300px;
      // background-color: red;
    }
  }

  .images-container {
    // display: flex;
    transition: transform 0.3s ease;
  }

  .video {
    border-radius: 10px;
    min-width: 100% !important;
    height: 100%; /* Stretch to parent height */
    object-fit: cover;
    overflow: hidden !important;
    @media screen and (max-width: 820px) {
      height: 50%;
    }
  }
}
.who-we-are {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  .para-div {
    margin-top: 100px;
    @media screen and (max-width: 820px) {
      margin-top: 0px;
    }
    p,
    a {
      font-family: figtreeI;
    }
    a {
      color: $greyed;
    }
  }
}
.main-intro {
  font-family: garamondB;
  span {
    color: #f8c58b;
    font-family: garamondI !important;
  }
}
.inscription-inner {
  background-image: url("../../assets/images/app-logo.png");
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: center;
  height: 700px;
  opacity: 0.06;
}

.shadow-logo {
  position: relative;
  padding-top: 100px;
  h3 {
    position: absolute;
    top: 30%;
    text-align: center;
    color: #b5d2fc !important;
    font-family: garamondB;

    left: 25%;
    line-height: 58px;
    color: #fff;
    span {
      color: #cccccc;
    }
    @media screen and (max-width: 820px) {
      left: 0%;
      top: 20%;
      line-height: 38px;
    }
  }
}

.discover {
  height: 1000px;
  padding-top: 100px;
  background: $appcolor;
  margin-top: -120px;
  @media screen and (max-width: 820px) {
    height: fit-content;
    padding-top: 10px;
    // margin-top: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 30px;
    z-index: 200;
    position: relative;
  }
  button {
    margin-top: 50px;
    margin-bottom: 150px;
    background: transparent;
    color: #f6f6f7;
    border: solid 2px #fff;
    transition: 0.2s ease;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;

    .icon {
      display: none;
      font-size: 20px;
      margin-left: 10px;
    }
    &:hover {
      background: #b5d2ee;
      color: $appcolor;
      .icon {
        display: inline;
      }
    }
  }
}
.mobile-contents {
  min-height: 500px;
  // background: red;
}
.our-words {
  background: #fff;
  padding-top: 180px;
  @media screen and (max-width: 820px) {
    padding-top: 80px;
  }
}

.mobile-home {
  padding: 0 10px;
  background-color: #fff;
  padding-bottom: 50px;
  overflow: hidden;
  .mobile-intro-heading {
    h1 {
      font-family: figtreeB;
      font-size: 30px;
      color: $appcolor;
      margin-top: 90px;
      span {
        color: #2d79c5;
        font-family: garamondI !important;
      }
    }
  }
  .video {
    height: 400px; /* Stretch to parent height */
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .inscription-inner2 {
    background-image: url("../../assets/images/logo-head.svg");
    background-repeat: no-repeat;
    background-size: 220px 500px;
    background-position: center;
    height: 300px;
    opacity: 0.04;
  }
}
.mobile-vid {
  // width: 380px !important;
}
