@import "../../../variables";

.eyfs-banner2 {
  // position: relative;
  padding: 10px 60px;
  background: $appcolor;
  @media screen and (max-width: 820px) {
    padding: 10px;
  }
  .heading {
    img {
      height: 34px !important;
    }
    .star {
      margin-bottom: -390px;
      @media screen and (max-width: 820px) {
        margin-bottom: -290px;
      }
      // width: px !important;
    }
  }
  .cube {
    height: 44px !important;
    margin-top: -150px;
  }
  .hero-img {
    height: 700px;
    object-fit: cover;
    border-radius: 100%;
    @media screen and (max-width: 820px) {
      height: 400px;
      width: 400px;
      margin-top: 50px;
    }
  }
  h1 {
    // position: absolute;
    margin-top: 110px;

    color: rgb(255, 255, 255);
    font-size: 72px;
    font-family: figtreeB;
    text-shadow: 5px 2px 2px rgb(50, 48, 48);
    @media screen and (max-width: 820px) {
      font-size: 32px;
      margin-top: -10px;
    }
    span {
      color: $highlight;
      font-size: 90px;
      font-family: garamondI;
      @media screen and (max-width: 820px) {
        font-size: 35px;
      }
    }
  }
  p {
    color: #fff;
    font-size: 20px;
  }
}
.eyfs-body {
  padding-top: 100px;
  @media screen and (max-width: 820px) {
    padding-top: 30px;
  }
  h2 {
    font-family: figtreeB;
    margin-bottom: 30px;
  }
  h6 {
    font-family: figtreeB;
  }
  h4 {
    font-family: figtreeI;
    font-weight: bold;
    margin-top: 30px;
    color: $appcolor;
  }
  p,
  li {
    font-family: figtree;
  }
  .declare {
    padding: 30px;
    margin-bottom: 50px;
    border-left: 2px solid $highlight;
    p {
      color: rgb(161, 159, 159);
      font-size: 20px;
    }
  }
}
.prowess {
  padding-top: 120px;
  p {
    font-family: figtree;
  }
  .prowess-inner {
    text-align: center;
    padding: 10px;
    .icon {
      font-size: 80px;
      margin-bottom: 20px;
      color: $highlight;
    }
    h3,
    p {
      color: $appcolor;
    }
    h3 {
      font-family: garamondB;
      font-weight: bold;
    }
    p {
      font-family: garamondI;
    }
  }
}
.rudiments {
  padding-left: 20px;
  margin-top: 140px;
  @media screen and (max-width: 820px) {
    padding-left: 0;
    margin-top: 40px;
  }
}
.elementary-details {
  margin-top: 60px;
  h2 {
    font-family: figtreeB;
  }
  .accordion-button::after {
    background-image: url("../../../assets/images/add-circle2.svg") !important;
    content: "" !important;
    background-position: center;
    background-size: 100%;
    height: 30px;
    width: 30px;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("../../../assets/images/blue-minus.svg") !important;

    content: "" !important;
  }
  .accordion-button {
    border-top: solid 1px #e7e7e7;
    font-family: figtree;
    color: $appcolor;
    &:hover {
      background: #e7e7e7;
    }
  }
  .accordion-body {
    ul li {
      font-family: garamondB;
    }
    h5,
    h6 {
      font-family: figtreeB;
      margin-top: 20px;
      color: $appcolor;
    }
    p {
      font-family: garamondB;
    }
  }
}
.adj {
  height: 420px;
  object-fit: cover;
}
