.values-div {
  background: #f2f4f6;
  height: 450px;
  margin-top: -154px;
  margin-left: 10px;
  h4 {
    margin-top: 30px;
    font-family: figtreeB;
    color: #4e5150;
    padding: 14px;
  }
  p {
    font-family: figtree;
    color: #4e5150;
    padding: 14px;
    font-size: 14px;
  }
  img {
    border-radius: 0 !important;
  }
}
.values-outline {
  height: 165px;
  background: #00285e;
  padding: 10px;
}
