@import "../../variables";

.story-banner {
  position: relative;
  padding: 0 60px;
  img {
    height: 700px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 44%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
  }
}
.story-div {
  img {
    border-radius: 10px;
  }
  h2 {
    color: #00285e;
    font-family: garamondB;
    font-size: 36px;
  }
  .first-para {
    color: #4d5e69;
    font-size: 22px;
    line-height: 35px;
    font-family: figtree;
    margin-bottom: 60px;
  }
  p {
    color: #4d5e69;
    font-size: 18px;
    line-height: 23px;
    font-family: figtree;
    margin-bottom: 60px;
  }
  .remarkable {
    height: 800px;
    background: url("../../../assets/images/abt-bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;

    padding-top: 200px;
    background-position: center;
    p {
      color: #fff;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: normal;
      font-family: garamondB;
    }
    button {
      background: transparent;
      border: solid 2px #fff;
      color: #fff;
      padding: 10px 50px;
      border-radius: 5px;
      &:hover {
        border: solid 2px #b5d2ee;
        background: #b5d2ee;
        color: #00285e;
        transition: 0.5s ease;
      }
    }
    .remarkable-logo {
      margin-bottom: 30px;
      hr {
        border: solid 1px #fff;
        opacity: 1;
        border-color: #fff !important;
      }
      .quote {
        color: #fff;
        font-size: 30px;
      }
    }
  }
  .chapel {
    padding-top: 100px;
    padding-bottom: 100px;
    .first-div {
      padding-right: 40px;
    }
    h3 {
      color: #00285e;
      margin-top: 80px;
      font-family: figtreeB;
      margin-bottom: 50px;
      span {
        color: #de7c0d;
        font-family: garamondI;
      }
    }
    p {
      color: #00285e;
      font-size: 18px;
      line-height: 25px;
      font-family: figtree;
      margin-bottom: 30px;
    }
    button {
      background: #00285e;
      color: #fff;
      border: none;
      padding: 5px 15px;
      transition: 0.5s ease-in-out;
      border-radius: 5px;
      &:hover {
        background: #2d79c5;
      }
    }
  }
}
.stats-div {
  height: 400px;
  background: #dae9f7;
  padding-top: 100px;
  color: #00285e;
  .stats-digits {
    text-align: center;
    h1 {
      font-size: 72px;
      margin-bottom: 30px;
      font-family: figtreeB;
    }
    h5 {
      //   font-size: 18px;
      font-family: figtreeB;
      font-weight: bold;
    }
  }
}
.stats-div2 {
  height: 400px;
  background: #f5f0e4;
  padding-top: 100px;
  color: #00285e;
  .stats-digits {
    text-align: center;
    h1 {
      font-size: 72px;
      margin-bottom: 30px;
      font-family: figtreeB;
    }
    h5 {
      //   font-size: 18px;
      font-family: figtreeB;
      font-weight: bold;
    }
  }
}
.graduates-profile {
  padding-top: 100px;
  h1 {
    color: #00285e;
    margin-top: 80px;
    font-family: figtreeB;
    margin-bottom: 50px;
    span {
      color: #de7c0d;
      font-family: garamondI;
    }
  }
  p {
    color: #00285e;
    font-size: 20px;
    line-height: 28px;
    font-family: figtree;
    margin-bottom: 30px;
  }
}
.profile-caru {
  margin-top: 40px;
  margin-bottom: 40px;
  .profile-details {
    background: #fff;
    height: 350px;
    border-radius: 3px;
    padding: 50px 20px;
    box-shadow: rgba(0, 73, 146, 0.09) 0px 4px 32px 0px;
    border-bottom: solid 3px #de7c0d;
    margin-top: 30px;

    h5 {
      color: #00285e;
      margin-bottom: 30px;
      font-family: garamondB;
      font-size: 22px;
      font-weight: bold;
    }
    p {
      font-family: figtree;
      color: #6a7480;
      line-height: 22px;
      font-size: 16px;
    }
  }
  .profile-img {
    margin-right: -100px;
    max-height: 490px;
    img {
      box-shadow: 0 0 2px 2px rgb(222, 222, 223);
    }
  }
  .carousel-control-prev {
    // left: 10% !important;
  }
  .carousel-control-next {
    // right: 52% !important;
  }
  .carousel-control-next-icon {
    background-image: url("../../../assets/images/arrow.png") !important;
    background-size: cover;
    // transform: rotate(180deg);
    // height: 20px;
    background: #00285e;
    opacity: 1 !important;
    border-radius: 100%;
    margin-right: -720%;
    // margin-top: -40%;
    width: 40px;
    height: 40px;
  }
  .carousel-control-prev-icon {
    background-image: "";
    // transform: rotate(180deg);
    // height: 20px;
    background: #00285e;
    opacity: 1 !important;
    border-radius: 100%;
    margin-right: -417%;
    // margin-top: -40%;
    width: 40px;
    height: 40px;
  }
  .carousel-indicators {
    display: none;
  }
}
.category-div {
  padding-top: 140px;
  padding-bottom: 100px;
  .container {
    position: relative;
  }
  .img-holder {
    background-image: url("../../../assets/images/secondary.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    &:hover {
      .small-intro {
        display: none !important;
      }
    }
  }
  h1 {
    font-family: figtreeB;
    font-size: 40px;
    color: #002b5e;
    margin-top: 80px;
    margin-bottom: 50px;
    span {
      color: #2d79c5;
      font-family: garamondI !important;
    }
  }
  .img-holder2 {
    background-image: url("../../../assets/images/primary.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    &:hover {
      .small-intro {
        display: none !important;
      }
    }
  }
  .img-holder3 {
    background-image: url("../../../assets/images/pre-sch.avif");
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(204, 194, 194, 0.75);
    &:hover {
      .small-intro {
        display: none !important;
      }
    }
  }
  .small-intro {
    background: rgba(0, 40, 94, 0.8);
    height: 40px;
    color: #fff;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: figtreeB;
  }
  /* Make the image to responsive */
  .image {
    width: 100%;
    height: auto;
  }

  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 40, 94, 1);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s ease;
    border-radius: 5px;
  }

  /* When you mouse over the container, the overlay text will "zoom" in display */
  .container:hover .overlay {
    transform: scale(1);
  }

  /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: garamondB;
    font-weight: bold;
    h5 {
      font-family: garamondB;
      font-weight: bold;
    }
    p {
      font-weight: bold;
      color: #fff;
    }
    button {
      background: transparent;
      border: solid 2px #fff;
      color: #fff;
      font-family: garamondB;
      font-size: 13px;
      padding: 5px 30px;
      &:hover {
        background: #fff;
        color: #00285e;
        font-weight: bold;
      }
    }
  }
}
.news-div {
  height: 750px;

  h2 {
    font-family: figtreeB;
    font-size: 40px;
    color: #002b5e;
    margin-top: 80px;
    margin-bottom: 50px;
    span {
      color: #de7c0d;
      font-family: garamondI !important;
    }
  }
}
.sunset {
  height: 800px;
  background: url("../../../assets/images/future.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  color: #fff;
  padding-top: 250px;
  margin-top: 100px;
  h1 {
    font-size: 55px;
    font-family: garamondB !important;
    span {
      color: #f8c58b;
      font-family: garamondI !important;
    }
  }
  button {
    background: transparent;
    border: solid 1px #fff;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 16px;
    .icon {
      display: none;
    }
    &:hover {
      background: #fff;
      color: #4d5e69;
      transition: 0.5s ease;
      .icon {
        display: inline;
      }
    }
  }
  p {
    color: #fff;
    font-size: 20px;
    font-family: figtreeB;
  }
}
