@import "../../../variables";

.slider-container {
  padding-bottom: 150px;
}
.myCustomCarousel .slick-arrow {
  color: #070606 !important;
  border: none;
  outline: none;
  background: #000;
  border-radius: 100%;
  &:hover {
    color: #070606 !important;
    background: #000;
  }
}
.slick-prev {
  left: -3% !important;
  z-index: 1;
}
.slick-next {
  right: -3% !important;
  z-index: 1;
}

.sleek-div {
  height: 300px;
  overflow: hidden;
  @media screen and (max-width: 820px) {
    // height: 500px;
  }
  img {
    object-fit: cover;
  }
  .inscription {
    height: 250px;
    margin-top: 25px;
    color: #fff;
    margin-left: 10px;
    background: $appcolor;
    padding: 40px;
    font-family: figtreeB;
    @media screen and (max-width: 820px) {
      height: 500px;
      padding: 10px;
      margin-top: 0;
      margin-left: 0;
    }
    h4 {
      margin-bottom: 30px;
      text-decoration: underline;
    }
    p {
      @media screen and (max-width: 820px) {
        display: none;
      }
    }
  }
}
