@import "../../../variables";

.story-banner {
  position: relative;
  padding: 0 0px;
  @media screen and (max-width: 820px) {
    padding: 0 0px;
  }
  img {
    height: 700px;
    object-fit: cover;
    @media screen and (max-width: 820px) {
      height: 400px;
    }
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 35%;
    color: #fff;
    font-size: 72px;
    font-family: garamondB;
    @media screen and (max-width: 820px) {
      left: 29%;
      font-size: 22px;
    }
  }
}
.history-div {
  img {
    border-radius: 10px;
  }
  h2 {
    color: $appcolor;
    font-family: garamondB;
    font-size: 36px;
    @media screen and (max-width: 820px) {
      font-size: 22px;
    }
  }
  .first-para {
    color: #4d5e69;
    font-size: 22px;
    line-height: 35px;
    font-family: figtree;
    margin-bottom: 60px;
    @media screen and (max-width: 820px) {
      font-size: 18px;
    }
  }
  p {
    color: #4d5e69;
    font-size: 15px;
    line-height: 23px;
    font-family: figtree;
  }
  .remarkable2 {
    height: 800px;
    background: url("../../../assets/images/building2.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    padding-top: 100px;
    background-position: center;
    @media screen and (max-width: 820px) {
      height: 700px;
    }
    h1 {
      color: #fff;
      font-family: garamondB;
    }
    .history-dates {
      height: 440px;
      border: solid 1px #fff;
      padding: 50px 10px;
      h1 {
        font-size: 75px;
        font-family: garamondI;
        color: $highlight;
      }
      span {
        color: $highlight;
      }
    }
    p {
      color: #fff;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: normal;
      font-family: garamondB;
    }

    .remarkable-logo {
      margin-bottom: 30px;
      hr {
        border: solid 1px #fff;
        opacity: 1;
        border-color: #fff !important;
      }
      .quote {
        color: #fff;
        font-size: 30px;
      }
    }
  }
  .history-details {
    box-shadow: rgba(0, 73, 146, 0.09) 0px 4px 32px 0px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    hr {
      margin: 0;
    }
    h5 {
      font-family: figtreeB;
      color: #4e5f6a;
    }
  }
  .history-img {
    height: 450px;
    background: url("../../../assets/images/founder.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .history-img2 {
    height: 450px;
    background: url("../../../assets/images/primary-group2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 40px;
    background-position: center;
  }

  .accordion-button::after {
    background-image: url("../../../assets/images/add-circle2.svg") !important;
    content: "" !important;
    background-position: center;
    background-size: 100%;
    height: 30px;
    width: 30px;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("../../../assets/images/blue-minus.svg") !important;

    content: "" !important;
  }
}
.history-quote {
  height: 300px;
  padding-top: 80px;
  @media screen and (max-width: 820px) {
    height: fit-content;
  }
  p {
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
    color: $appcolor;
  }
  .quote {
    font-size: 40px;
    color: #b5d2ee;
  }
}
