@import "../../variables";

.modal-body {
  max-height: 800px;
  margin-top: 0px !important;
  overflow: scroll;

  h5 {
    font-family: garamondB;
    color: #fff !important;
    font-weight: bold;
    font-size: 30px !important;
  }

  img {
    border-radius: 10px;
  }
}

.story-time {
  height: 500px;

  cursor: pointer;

  h5 {
    padding: 30px 20px;
    font-family: garamondB;
    color: #fff;
    font-size: 30px;
    font-weight: bold;

    &:hover {
      color: #b5d2ee;
    }
  }

  p {
    padding-left: 30px;
    font-family: figtreeB;
  }
}

.modal-content {
  // max-height: 900px;
  border: none !important;

  img {
    // height: 200px !important;
  }

  p {
    font-family: figtreeB;
    color: rgb(94, 92, 92);
    line-height: 30px;
  }

  small {
    // color: red;
    margin-bottom: 40px;
    font-family: figtreeB;
  }
}

.slider-container {
  .each-news {
    height: 400px;
    margin: 6px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    img {
      max-height: 300px;
      border-top-left-radius: 30px;
    }
  }

  h3 {
    margin-top: 0 !important;
    padding-left: 10px;
    color: $appcolor;
  }
}

.news-img-holder {
  height: 300px;
  background-color: grey;
  object-fit: cover;

  img {}
}

.story-modal {}

.modal-body {
  background-color: #fff !important;
  min-height: 800px;
  width:800px;
  margin-top: -50px !important;
}

.modal-news-img {
  height: 350px;
  object-fit: cover
}

.modal-title {
  padding: 30px 20px;
  font-family: figtreeB;
  color: #fff;
  font-size: 50px !important;
  font-weight: bold;

  &:hover {
    color: #b5d2ee;
  }
}
.carousel-indicators {
  margin-bottom:50px;
 button{
  background: red;
 }
  
}