@import "../../variables";

.modal-body {
  max-height: 800px;
  margin-top: 0px !important;
  overflow: scroll;
  h5 {
    font-family: garamondB;
    color: $appcolor;
    font-weight: bold;
  }
  img {
    border-radius: 10px;
  }
}
.story-time {
  height: 500px;

  cursor: pointer;
  h5 {
    padding: 30px 20px;
    font-family: garamondB;
    color: $appcolor;
    font-weight: bold;
    &:hover {
      color: #b5d2ee;
    }
  }

  p {
    padding-left: 30px;
    font-family: figtreeB;
  }
}
.modal-content {
  max-height: 900px;
  border: none !important;
  img {
    // height: 200px !important;
  }
  p {
    font-family: figtreeB;
    color: rgb(94, 92, 92);
    line-height: 30px;
  }
  small {
    // color: red;
    margin-bottom: 40px;
    font-family: figtreeB;
  }
}
.slider-container {
  .each-news {
    height: 550px;
    margin: 6px;
    img {
      max-height: 340px;
    }
  }
}
