.journey-div {
  height: 1000px;
  position: relative;
  margin-bottom: 0;
  img {
    object-fit: cover;
  }
  .journey-cova {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(79, 107, 144, 0.9);
    margin-bottom: 0;
    top: 0;
    left: 0;
    .slide-div {
      height: 200px;
      background: #fff;
      margin-top: 200px;
    }
  }
}
